<ul>
  <li><a href="/">Home</a></li>
</ul>

<main>
    <h1>Anton Kapustin</h1>
    <h2>Fullstack Developer</h2>
    <hr>
    <section>
        <h2>Skills:</h2>
        <ul>
            <li>Ruby On Rails</li>
            <li>Ruby</li>
            <li>JavaScript</li>
        </ul>
    </section>
    <section>
        <h2>About me</h2>
        <p>I'm working hard.</p>
    </section>
</main>